@model MvcCv.Models.Entity.Tbl_Certifications
@{
    ViewBag.Title = "EditCertification";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h3>Sertifika Düzenle</h3>
<br />
<form method="post" style="margin-left:20px; margin-right:50px;">
    @Html.Label("Sertifika Açıklaması")
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    <br />
    @Html.Label("Tarih")
    @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">
        Güncelle
    </button>
    <a href="/Certification/DeleteCertification/@ViewBag.d" class="btn btn-danger" style="margin-left:10px">
        Sil
    </a>
</form>
